<!doctype html>
<html>
	<head>
		<title>Delete Recipe Page</title>
		<style>
			h1{
				text-align:center;
			}
			 
			body{
				background-color: cyan;
				text-align: center;
			}
					 
			button{	
				background-color:#FFFACD;
				padding: 10px 24px;
				border-radius: 4px;
				margin: 4px 2px;
			}
					
			button:hover {
				opacity: 0.8;
			}
		</style>
	</head>
	<body>
		<h1>Do you want to delete this recipe?</h1>

		<!--using form to collect user data and then displaying with the POST route-->
		<form method="POST" action="/recipedeleted">
			Name of the recipe:<input id="name" type="text" name="name" value="name" /><b><br>
			<input type="submit" />
		</form>
	</body>
	<button onclick="document.location = './'">Home</button>
	<button onclick="document.location = './login'">Login</button>
	<button onclick="document.location = './register'">Register </button>
	<button onclick="document.location = './list'">List </button>
	<button onclick="document.location = './addrecipe'">Add Recipe</button>
	<button onclick="document.location = './updaterecipeform'">Update Recipe</button>
	<button onclick="document.location = './search'">Search</button>
	<button onclick="document.location = './api'">API </button>
	<button onclick="document.location = './logout'">Logout </button>
</html>

