<!doctype html>
<html>
	<head>
		<title>List webpage!</title>
		<style>
			h1{
				text-align:center;
			}

			body{
				background-color: cyan;
				text-align: center;
            }
		    
			ul {
				text-align: center; 
			}

			button{
				background-color:#FFFACD;
				padding: 10px 24px;
				border-radius: 4px;
				margin: 4px 2px;
             }
		 
             button:hover {
				 opacity: 0.8;
             }
		</style>
	</head>
	<h1> This is List Page </h1>
	<body>
		<h3>You can see names and recipes of the all recipes available here:</h3>
		<ul>
			<% userrecipes.forEach(function(recipe){ %>
			<li>
				<%= recipe.name %>: <%= recipe.ingredients %> <br /> <%= recipe.description %><br /> By, <%= recipe.author %><br><br>
			</li>
			<% }) %>
		</ul>
	</body>
	<button onclick="document.location = './'">Home</button>
	<button onclick="document.location = './login'">Login</button>
	<button onclick="document.location = './register'">Register </button>
	<button onclick="document.location = './addrecipe'">Add Recipe</button>
	<button onclick="document.location = './updaterecipeform'">Update Recipe</button>
	<button onclick="document.location = './deleterecipe'">Delete Recipe</button>
	<button onclick="document.location = './search'">Search </button>
	<button onclick="document.location = './api'">API </button>
	<button onclick="document.location = './logout'">Logout </button>
</html>
