<!doctype html>
<html>	
	<head>
		<title>Recipe Bank!</title>
		<style>
			h1{
				text-align:center;
	        }

			body{
				background-color: cyan;
				text-align: center;
			}
					 
			button{
				background-color:#FFFACD;
				padding: 10px 24px;
				border-radius: 4px;
				margin: 4px 2px;
			}

			button:hover {
				opacity: 0.8;
			}	
			 
			textarea {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}						
		</style>
	</head>
	<body>
		<h1> This is the Update Recipe page  </h1>
		<p>Please enter the name of the recipe you want to update </p>
		<!--using form to collect user data and then displaying with the GET route--> 
		<form method="GET" action="/updaterecipe"> 
			Recipe name: <input id="name" type="text" name="name" value="Recipe Name" /><br>
			<input type="submit" value="Submit" />
		</form>
		<ul>
			<% userrecipes.forEach(function(recipe){ %>
			<li><br><br><%= recipe.author %>'s <%= recipe.name %><br><br> </li>
		<% }) %>
		</ul>
	</body>
	<button onclick="document.location = './'">Home</button>
	<button onclick="document.location = './login'">Login</button>
	<button onclick="document.location = './register'">Register </button>
	<button onclick="document.location = './list'">List </button>
	<button onclick="document.location = './addrecipe'">Add Recipe</button>
	<button onclick="document.location = './deleterecipe'">Delete Recipe</button>
	<button onclick="document.location = './search'" >Search</button>
	<button onclick="document.location = './api'">API </button>
	<button onclick="document.location = './logout'">Logout </button>
</html>
                                                                                   
