<!doctype html>
<html>	
	<head>
		<title>Recipe Bank!</title>
		<style>
			h1{
				text-align:center;
	        }

			body{
				background-color: cyan;
				text-align: center;
			}
					 
			button{
				background-color:#FFFACD;
				padding: 10px 24px;
				border-radius: 4px;
				margin: 4px 2px;
			}

			button:hover {
				opacity: 0.8;
			}	
			 
			textarea {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}						
		</style>
	</head>
	<body>
		<h1> This is the Update Recipe page  </h1>
		<p>Please fill the related fields to update the recipe in the database </p>
		<!--using form to collect user data and then displaying with the POST route--> 
		
		<ul>
			<% userrecipes.forEach(function(recipe){ %>
			<li><br><br><%= recipe.author %>'s <%= recipe.name %><br><br> </li>
		</ul>

		<form method="POST" action="/recipeupdated" id="recipeupdateform" style="line-height: 1.6">
			Recipe Name: <textarea id="name" name="name" form="recipeupdateform" readonly><%= recipe.name %>  </textarea><br>
			Ingredients: <br><textarea name="ingredients" form="recipeupdateform" id ="ingredients"><%= recipe.ingredients %>  </textarea><br>
			Description: <br><textarea name="description" form="recipeupdateform" id="description"><%= recipe.description %>  </textarea><br><br>
			<% }) %>
			<input type="submit" value="Submit" />
		</form>
	</body>
	<button onclick="document.location = './'">Home</button>
	<button onclick="document.location = './login'">Login</button>
	<button onclick="document.location = './register'">Register </button>
	<button onclick="document.location = './list'">List </button>
	<button onclick="document.location = './addrecipe'">Add Recipe</button>
	<button onclick="document.location = './deleterecipe'">Delete Recipe</button>
	<button onclick="document.location = './search'" >Search</button>
	<button onclick="document.location = './api'">API </button>
	<button onclick="document.location = './logout'">Logout </button>
</html>
